.body{
    font-size:13px;
    background:linear-gradient(180deg, #1A120B,#725b48);
}

.main{
    margin-top:15%;
    margin-bottom:15%;
    padding:25px;
    width: calc(100% - 350px);
    max-width:100%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -webkit-box-shadow: 0 15px 16.83px 0px rgba(220, 215, 201, 0.929);
    background-color: #E5E5CB;
}

.signup{
    padding:50px 0;
}

.row{
    flex-wrap:nowrap;
    display:inline-flex;
}

.signup-form{
    padding-left:80px;
    width:50%;
}

.form-title{
    margin-bottom: 33px;
}

.register-form{
    width:100%;
}

.form-group{
    position:relative;
    margin-bottom:25px;
    overflow:hidden;
    
}

label{
    left:0;
    position:absolute;
    top:50%;
}

i{
   
    font-size:20px;

}

input{
    border:none;
    border-bottom: 1px solid;
    width:100%;
    padding:6px 30px;
    outline:none;
    background-color: #E5E5CB;
}

#otp{
    width:100px;
    padding-right:20px;
}

.form-button{
    width:auto;
    padding-top: 25px;
}
.signup-image{
    text-align: center;
    width:50%;
    overflow:hidden;
    position: relative;
    margin: 0 50px;
    
}

img{
    width:100%;
    height:auto;
    padding-bottom:10px;
}

.already-signedup{
    color:black;
}
